<div *ngFor="let item of detalleVenta" class="card">
  <div class="card-body">
    <h5 class="card-title">Detalle de Venta</h5><hr>
    <h6 class="card-subtitle">Cliente: {{ item.nombre }}</h6><br>
    <h6 class="card-subtitle">Producto: {{ item.producto }}</h6><br>
    <h6 class="card-subtitle mb-2 text-muted">Fecha de operacion: {{ item.fecha | date:'d/MM/yyyy h:mm a' }}</h6>
    <p class="card-text">
        Cantidad: {{ item.cant_venta }} <br>
        Descuento: {{ item.descuento }}%<br>
        Iva: {{ item.iva }}%<br>
        Subtotal: {{ item.subtotal | currency:'$':'symbol':'.0'}}<br>
        Total: {{ item.total | currency:'$':'symbol':'.0' }}
    </p>

    <div class="row">
      <div class="col-1">
        <a type="button" routerLink="/ventas" class="btn btn-secondary">Volver</a>
      </div>
      <!-- <div  class="col-1">
        <a type="button" routerLink="/ventas/delete/{{ item.venta_id }}" class="btn btn-danger">Eliminar</a>
      </div> -->
    </div>
    </div>
</div>
