<div class="dsc-navigation ">
    <div>
        <button routerLinkActive="active" routerLink="/clientes/add" class="btn btn-primary">Nuevo Cliente</button>
    </div>
    <div>
        <button routerLinkActive="active" routerLink="/clientes" class="btn btn-primary">Clientes</button>
    </div>
    <div>
        <button routerLinkActive="active" routerLink="/productos/add" class="btn btn-primary">Nuevo Producto</button>
    </div>
    <div>
        <button routerLinkActive="active" routerLink="/productos" class="btn btn-primary">Productos</button>
    </div>
    <div>
        <button routerLinkActive="active" routerLink="/ventas/add" class="btn btn-primary">Nueva Venta</button>
    </div>
    <div>
        <button routerLinkActive="active" routerLink="/ventas" class="btn btn-primary">Ventas</button>
    </div>
</div>